# 캐글 - Don't Get Kicked!

# https://www.kaggle.com/competitions/DontGetKicked

# 중고차 시장에서 중고차 상태 좋을지 나쁠지 예측

In [1]:
import numpy as np
import pandas as pd

# 1. 캐글 데이터 불러오기

In [2]:
import os

os.environ['KAGGLE_USERNAME'] = ''
os.environ['KAGGLE_KEY'] = ''

In [3]:
!kaggle competitions download -c DontGetKicked
!unzip '*.zip'

Downloading DontGetKicked.zip to /content
 49% 5.00M/10.2M [00:00<00:00, 22.4MB/s]
100% 10.2M/10.2M [00:00<00:00, 38.4MB/s]
Archive:  DontGetKicked.zip
  inflating: Carvana_Data_Dictionary.txt
  inflating: example_entry.csv
  inflating: test.csv
  inflating: test.zip
  inflating: training.csv
  inflating: training.zip

In [5]:
train = pd.read_csv('training.csv')
train.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [6]:
test = pd.read_csv('test.csv')
test.head()

,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,73015,12/2/2009,ADESA,2005,4,PONTIAC,GRAND PRIX,Bas,4D SEDAN,SILVER,...,8557.0,9752.0,NaN,NaN,18881,30212,GA,6500.0,0,2152
1,73016,12/2/2009,ADESA,2005,4,CHEVROLET,MALIBU V6,LS,4D SEDAN LS,SILVER,...,7562.0,9296.0,NaN,NaN,18111,30212,GA,6300.0,0,1118
2,73017,12/2/2009,ADESA,2006,3,DODGE,DURANGO 2WD V8,Adv,4D SUV 4.7L ADVENTURER,SILVER,...,15340.0,16512.0,NaN,NaN,18111,30212,GA,9700.0,0,1215
3,73018,12/2/2009,ADESA,2002,7,SATURN,L SERIES,L20,4D SEDAN L200,GOLD,...,5725.0,6398.0,NaN,NaN,18881,30212,GA,4150.0,0,1933
4,73019,12/2/2009,ADESA,2007,2,HYUNDAI,ACCENT,GS,2D COUPE GS,BLUE,...,5914.0,7350.0,NaN,NaN,18111,30212,GA,4100.0,0,920

In [7]:
train.columns     # 칼럼명 확인

Index(['RefId', 'IsBadBuy', 'PurchDate', 'Auction', 'VehYear', 'VehicleAge',
       'Make', 'Model', 'Trim', 'SubModel', 'Color', 'Transmission',
       'WheelTypeID', 'WheelType', 'VehOdo', 'Nationality', 'Size',
       'TopThreeAmericanName', 'MMRAcquisitionAuctionAveragePrice',
       'MMRAcquisitionAuctionCleanPrice', 'MMRAcquisitionRetailAveragePrice',
       'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice',
       'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice',
       'MMRCurrentRetailCleanPrice', 'PRIMEUNIT', 'AUCGUART', 'BYRNO',
       'VNZIP1', 'VNST', 'VehBCost', 'IsOnlineSale', 'WarrantyCost'],
      dtype='object')

# 2. train데이터와 test 데이터 합치기

In [8]:
alldata = pd.concat([train, test])
alldata

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0.0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0.0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0.0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0.0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0.0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,121742,NaN,11/17/2010,MANHEIM,2005,5,FORD,FIVE HUNDRED,SEL,4D SEDAN SEL,...,9764.0,11395.0,NaN,NaN,20928,33411,FL,7955.0,0,1633
48703,121743,NaN,11/17/2010,MANHEIM,2007,3,TOYOTA,COROLLA,CE,4D SEDAN CE,...,10283.0,11565.0,NaN,NaN,20928,33411,FL,7035.0,0,594
48704,121744,NaN,11/17/2010,MANHEIM,2006,4,KIA,SPECTRA,EX,4D SEDAN EX,...,7871.0,9490.0,NO,GREEN,20928,33411,FL,6335.0,0,594
48705,121745,NaN,11/17/2010,MANHEIM,2005,5,MAZDA,MAZDA3,s,4D SEDAN GT,...,8576.0,9937.0,NO,GREEN,20928,33411,FL,8055.0,0,1038
48706,121746,NaN,11/17/2010,MANHEIM,2003,7,BUICK,RENDEZVOUS AWD,CX,4D SUV CX,...,8266.0,9388.0,NO,GREEN,20928,33411,FL,7755.0,0,5392

# 3. 필요없는 칼럼 삭제(순번 칼럼, 정답 칼럼, 날짜 칼럼 지우기)

In [9]:
alldata2 = alldata.drop(columns = ['RefId', 'IsBadBuy', 'PurchDate'])
alldata2

,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,1.0,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,1.0,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,2.0,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,1.0,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,2.0,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,MANHEIM,2005,5,FORD,FIVE HUNDRED,SEL,4D SEDAN SEL,BLACK,AUTO,1.0,...,9764.0,11395.0,NaN,NaN,20928,33411,FL,7955.0,0,1633
48703,MANHEIM,2007,3,TOYOTA,COROLLA,CE,4D SEDAN CE,GREEN,AUTO,2.0,...,10283.0,11565.0,NaN,NaN,20928,33411,FL,7035.0,0,594
48704,MANHEIM,2006,4,KIA,SPECTRA,EX,4D SEDAN EX,BLACK,AUTO,2.0,...,7871.0,9490.0,NO,GREEN,20928,33411,FL,6335.0,0,594
48705,MANHEIM,2005,5,MAZDA,MAZDA3,s,4D SEDAN GT,SILVER,AUTO,1.0,...,8576.0,9937.0,NO,GREEN,20928,33411,FL,8055.0,0,1038
48706,MANHEIM,2003,7,BUICK,RENDEZVOUS AWD,CX,4D SUV CX,GOLD,AUTO,2.0,...,8266.0,9388.0,NO,GREEN,20928,33411,FL,7755.0,0,5392

# 4. 문자형 칼럼의 변수명 확인(unique)하고 숫자로 대체(replace)

In [10]:
alldata2['Auction'].unique()

array(['ADESA', 'OTHER', 'MANHEIM'], dtype=object)

In [13]:
alldata2['Auction'] = alldata2['Auction'].replace({'ADESA' : 1, 'OTHER' : 2, 'MANHEIM' : 3})
alldata2

,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,1.0,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,1,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,1.0,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,1,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,2.0,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,1,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,1.0,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,1,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,2.0,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,3,2005,5,FORD,FIVE HUNDRED,SEL,4D SEDAN SEL,BLACK,AUTO,1.0,...,9764.0,11395.0,NaN,NaN,20928,33411,FL,7955.0,0,1633
48703,3,2007,3,TOYOTA,COROLLA,CE,4D SEDAN CE,GREEN,AUTO,2.0,...,10283.0,11565.0,NaN,NaN,20928,33411,FL,7035.0,0,594
48704,3,2006,4,KIA,SPECTRA,EX,4D SEDAN EX,BLACK,AUTO,2.0,...,7871.0,9490.0,NO,GREEN,20928,33411,FL,6335.0,0,594
48705,3,2005,5,MAZDA,MAZDA3,s,4D SEDAN GT,SILVER,AUTO,1.0,...,8576.0,9937.0,NO,GREEN,20928,33411,FL,8055.0,0,1038
48706,3,2003,7,BUICK,RENDEZVOUS AWD,CX,4D SUV CX,GOLD,AUTO,2.0,...,8266.0,9388.0,NO,GREEN,20928,33411,FL,7755.0,0,5392

# 5. 문자형 칼럼의 변수명이 많을 때 숫자로 대체하는 방법: LabelEncoder 사용
- 변수명 확인: unique()

In [14]:
alldata2['Make'].unique()

array(['MAZDA', 'DODGE', 'FORD', 'MITSUBISHI', 'KIA', 'GMC', 'NISSAN',
       'CHEVROLET', 'SATURN', 'CHRYSLER', 'MERCURY', 'HYUNDAI', 'TOYOTA',
       'PONTIAC', 'SUZUKI', 'JEEP', 'HONDA', 'OLDSMOBILE', 'BUICK',
       'SCION', 'VOLKSWAGEN', 'ISUZU', 'LINCOLN', 'MINI', 'SUBARU',
       'CADILLAC', 'VOLVO', 'INFINITI', 'PLYMOUTH', 'LEXUS', 'ACURA',
       'TOYOTA SCION', 'HUMMER'], dtype=object)

In [15]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
alldata2['Make'] = le.fit_transform(alldata2['Make'])
alldata2

,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,2006,3,17,MAZDA3,i,4D SEDAN I,RED,AUTO,1.0,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,1,2004,5,5,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,1.0,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,1,2005,4,5,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,2.0,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,1,2004,5,5,NEON,SXT,4D SEDAN,SILVER,AUTO,1.0,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,1,2005,4,6,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,2.0,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,3,2005,5,6,FIVE HUNDRED,SEL,4D SEDAN SEL,BLACK,AUTO,1.0,...,9764.0,11395.0,NaN,NaN,20928,33411,FL,7955.0,0,1633
48703,3,2007,3,29,COROLLA,CE,4D SEDAN CE,GREEN,AUTO,2.0,...,10283.0,11565.0,NaN,NaN,20928,33411,FL,7035.0,0,594
48704,3,2006,4,14,SPECTRA,EX,4D SEDAN EX,BLACK,AUTO,2.0,...,7871.0,9490.0,NO,GREEN,20928,33411,FL,6335.0,0,594
48705,3,2005,5,17,MAZDA3,s,4D SEDAN GT,SILVER,AUTO,1.0,...,8576.0,9937.0,NO,GREEN,20928,33411,FL,8055.0,0,1038
48706,3,2003,7,1,RENDEZVOUS AWD,CX,4D SUV CX,GOLD,AUTO,2.0,...,8266.0,9388.0,NO,GREEN,20928,33411,FL,7755.0,0,5392

In [16]:
# 칼럼 전체 다 보이게

pd.options.display.max_columns = 999
alldata2

,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,2006,3,17,MAZDA3,i,4D SEDAN I,RED,AUTO,1.0,Alloy,89046,OTHER ASIAN,MEDIUM,OTHER,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,1,2004,5,5,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,1.0,Alloy,93593,AMERICAN,LARGE TRUCK,CHRYSLER,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,1,2005,4,5,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,2.0,Covers,73807,AMERICAN,MEDIUM,CHRYSLER,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,1,2004,5,5,NEON,SXT,4D SEDAN,SILVER,AUTO,1.0,Alloy,65617,AMERICAN,COMPACT,CHRYSLER,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,1,2005,4,6,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,2.0,Covers,69367,AMERICAN,COMPACT,FORD,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,3,2005,5,6,FIVE HUNDRED,SEL,4D SEDAN SEL,BLACK,AUTO,1.0,Alloy,88645,AMERICAN,LARGE,FORD,5358.0,6836.0,8987.0,10905.0,5761.0,6965.0,9764.0,11395.0,NaN,NaN,20928,33411,FL,7955.0,0,1633
48703,3,2007,3,29,COROLLA,CE,4D SEDAN CE,GREEN,AUTO,2.0,Covers,81862,TOP LINE ASIAN,COMPACT,OTHER,6849.0,7992.0,10999.0,12021.0,6856.0,8183.0,10283.0,11565.0,NaN,NaN,20928,33411,FL,7035.0,0,594
48704,3,2006,4,14,SPECTRA,EX,4D SEDAN EX,BLACK,AUTO,2.0,Covers,82451,OTHER ASIAN,MEDIUM,OTHER,4662.0,5655.0,7972.0,9670.0,4833.0,5856.0,7871.0,9490.0,NO,GREEN,20928,33411,FL,6335.0,0,594
48705,3,2005,5,17,MAZDA3,s,4D SEDAN GT,SILVER,AUTO,1.0,Alloy,75760,OTHER ASIAN,MEDIUM,OTHER,5953.0,8166.0,9137.0,11949.0,5092.0,6853.0,8576.0,9937.0,NO,GREEN,20928,33411,FL,8055.0,0,1038
48706,3,2003,7,1,RENDEZVOUS AWD,CX,4D SUV CX,GOLD,AUTO,2.0,Covers,82174,AMERICAN,MEDIUM SUV,GM,3269.0,4435.0,6893.0,8221.0,4526.0,5761.0,8266.0,9388.0,NO,GREEN,20928,33411,FL,7755.0,0,5392

# 6. 문자형 칼럼만 확인

In [17]:
c = alldata2.columns[alldata2.dtypes == 'object']
c

Index(['Model', 'Trim', 'SubModel', 'Color', 'Transmission', 'WheelType',
       'Nationality', 'Size', 'TopThreeAmericanName', 'PRIMEUNIT', 'AUCGUART',
       'VNST'],
      dtype='object')

# 7. 모든 문자형 칼럼을 숫자로 변환

In [34]:
alldata2.isnull().sum()     # 결측치 확인

Auction                                   0
VehYear                                   0
VehicleAge                                0
Make                                      0
Model                                     0
Trim                                   3910
SubModel                                 13
Color                                    12
Transmission                             12
WheelTypeID                            5357
WheelType                              5362
VehOdo                                    0
Nationality                              12
Size                                     12
TopThreeAmericanName                     12
MMRAcquisitionAuctionAveragePrice        28
MMRAcquisitionAuctionCleanPrice          28
MMRAcquisitionRetailAveragePrice         28
MMRAcquisitonRetailCleanPrice            28
MMRCurrentAuctionAveragePrice           458
MMRCurrentAuctionCleanPrice             458
MMRCurrentRetailAveragePrice            458
MMRCurrentRetailCleanPrice              458
PRIMEUNIT                            115755
AUCGUART                             115755
BYRNO                                     0
VNZIP1                                    0
VNST                                      0
VehBCost                                  0
IsOnlineSale                              0
WarrantyCost                              0
dtype: int64

In [35]:
for i in c:
  alldata2[i] = le.fit_transform(list(alldata2[i]))     # 코랩에서는 list()를 안해도 에러나지 않지만 캐글에서는 에러발생
                                                        # NaN값이 float로 되기 때문 
alldata2

,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,2006,3,17,620,135,236,13,0,1.0,0,89046,2,5,3,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,12409.0,2,2,21973,33619,5,7100.0,0,1113
1,1,2004,5,5,0,94,826,15,0,1.0,0,93593,0,4,0,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,12791.0,2,2,19638,33619,5,7600.0,0,1053
2,1,2005,4,5,938,99,311,7,0,2.0,1,73807,0,5,0,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,8702.0,2,2,19638,33619,5,4900.0,0,1389
3,1,2004,5,5,700,99,165,14,0,1.0,0,65617,0,0,0,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,5518.0,2,2,19638,33619,5,4100.0,0,630
4,1,2005,4,6,389,129,55,14,1,2.0,1,69367,0,0,1,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,7911.0,2,2,19638,33619,5,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,3,2005,5,6,386,85,292,1,0,1.0,0,88645,0,2,1,5358.0,6836.0,8987.0,10905.0,5761.0,6965.0,9764.0,11395.0,2,2,20928,33411,5,7955.0,0,1633
48703,3,2007,3,29,241,9,198,5,0,2.0,1,81862,3,0,3,6849.0,7992.0,10999.0,12021.0,6856.0,8183.0,10283.0,11565.0,2,2,20928,33411,5,7035.0,0,594
48704,3,2006,4,14,912,23,210,1,0,2.0,1,82451,2,5,3,4662.0,5655.0,7972.0,9670.0,4833.0,5856.0,7871.0,9490.0,0,0,20928,33411,5,6335.0,0,594
48705,3,2005,5,17,620,137,223,14,0,1.0,0,75760,2,5,3,5953.0,8166.0,9137.0,11949.0,5092.0,6853.0,8576.0,9937.0,0,0,20928,33411,5,8055.0,0,1038
48706,3,2003,7,1,799,10,479,4,0,2.0,1,82174,0,6,2,3269.0,4435.0,6893.0,8221.0,4526.0,5761.0,8266.0,9388.0,0,0,20928,33411,5,7755.0,0,5392

In [36]:
alldata2.isnull().sum()     # 결측치 다시 확인

Auction                                 0
VehYear                                 0
VehicleAge                              0
Make                                    0
Model                                   0
Trim                                    0
SubModel                                0
Color                                   0
Transmission                            0
WheelTypeID                          5357
WheelType                               0
VehOdo                                  0
Nationality                             0
Size                                    0
TopThreeAmericanName                    0
MMRAcquisitionAuctionAveragePrice      28
MMRAcquisitionAuctionCleanPrice        28
MMRAcquisitionRetailAveragePrice       28
MMRAcquisitonRetailCleanPrice          28
MMRCurrentAuctionAveragePrice         458
MMRCurrentAuctionCleanPrice           458
MMRCurrentRetailAveragePrice          458
MMRCurrentRetailCleanPrice            458
PRIMEUNIT                               0
AUCGUART                                0
BYRNO                                   0
VNZIP1                                  0
VNST                                    0
VehBCost                                0
IsOnlineSale                            0
WarrantyCost                            0
dtype: int64

In [37]:
# 결측치 채우기

alldata2 = alldata2.fillna(-1)     # 기존 데이터의 0 또는 평균값과 동일한 값과 구분하기 위해 결측치를 0이나 평균값이 아닌 -1로 대체

In [38]:
alldata2.isnull().sum()

Auction                              0
VehYear                              0
VehicleAge                           0
Make                                 0
Model                                0
Trim                                 0
SubModel                             0
Color                                0
Transmission                         0
WheelTypeID                          0
WheelType                            0
VehOdo                               0
Nationality                          0
Size                                 0
TopThreeAmericanName                 0
MMRAcquisitionAuctionAveragePrice    0
MMRAcquisitionAuctionCleanPrice      0
MMRAcquisitionRetailAveragePrice     0
MMRAcquisitonRetailCleanPrice        0
MMRCurrentAuctionAveragePrice        0
MMRCurrentAuctionCleanPrice          0
MMRCurrentRetailAveragePrice         0
MMRCurrentRetailCleanPrice           0
PRIMEUNIT                            0
AUCGUART                             0
BYRNO                                0
VNZIP1                               0
VNST                                 0
VehBCost                             0
IsOnlineSale                         0
WarrantyCost                         0
dtype: int64

# 8. train2, test2로 분리

In [39]:
train2 = alldata2[:len(train)]     # alldata2를 앞에서부터 train 갯수만큼 train2로 분리
test2 = alldata2[len(train):]     # alldata2를 train갯수 이후부터 나머지를 test2로 분리

# 9. 모델링(모델 불러오기, 모델 선언, 모델 학습, 결과 예측)

In [40]:
from sklearn.ensemble import RandomForestClassifier     # 분류문제이므로 RandomForestClassifier 사용

rf = RandomForestClassifier(n_jobs = -1, random_state = 42)     # n_jobs = -1은 cpu를 최대로 사용, random_state 지정 안하면 할 때마다 랜덤하게 변하므로 일정하게 하기 위해 아무 숫자나 지정
rf.fit(train2, train['IsBadBuy'])     # 정답칼럼: IsBadBuy
result = rf.predict_proba(test2)     # 캐글 분류대회는 확률로 제출해야 하기 때문에 결과 예측을 predict_proba로 함
result     # result 결과 중 오른쪽(클래스1 = True)에 있는 걸 제출해야 함(첫 줄에서 0.95, 0.05 중 0.05)

array([[0.95, 0.05],
       [0.96, 0.04],
       [0.98, 0.02],
       ...,
       [0.99, 0.01],
       [0.91, 0.09],
       [0.87, 0.13]])

- cf) result에서 0과 1의 갯수를 세려면 판다스로 바꾼 후 갯수 세야함
- pd.Series(result).value_counts()
- 캐글 분류대회에서는 확률로 제출할 것이므로 이 과정 필요 없음

# 10. 제출 양식 불러오기

In [41]:
sub = pd.read_csv('example_entry.csv')
sub.head()

   RefId  IsBadBuy
0  73015         0
1  73016         0
2  73017         0
3  73018         0
4  73019         0

# 11. 제출양식에 결과 포함시키기

In [42]:
sub['IsBadBuy'] = result[:, 1]     # result 결과 중 오른쪽에 있는 것만 선택
sub.head()

   RefId  IsBadBuy
0  73015      0.05
1  73016      0.04
2  73017      0.02
3  73018      0.11
4  73019      0.86

# 12. 결과물을 csv파일로 저장

In [43]:
sub.to_csv('sub.csv', index = 0)     # index 포함 안함

# 13. 결과물 제출
- data -> output -> /kaggle/working -> sub.csv 다운로드
- data -> input -> (프로젝트 제목) -> more actions -> open in new tab
- late submission -> step1: csv 파일 제출 -> step2: 간단한 설명 작성 -> make submission

- 등수
- 결과를 0, 1로 구해서 제출 시 : 461/570
- 결과를 확률로 제출 시 : 166/570